Dockerfile
.dockerignore

.git

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.djcache
*.log
*.sqlite3
/static/
media/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### JS ###
node_modules
static_dist

### Pycharm ###
.idea

### VisualStudioCode ###
.vscode