Django>=4.2,<4.3
# wagtail(engAmirEng, multitenancy & build statics on pip install)
git+https://github.com/engAmirEng/wagtail.git@2c9350564089ecc84287e29
apache-libcloud>=3.6,<3.7
django-cors-headers>=3.13,<3.14
django-debug-toolbar>=4.0,<4.1
django-environ>=0.9,<1.0
django-grpc>=1.0,<1.1
django-htmx>=1.12,<1.13
# django-storages
git+https://github.com/jschneier/django-storages.git@72638483b17459577f17e151bb8a
django-vite>=2.0.2,<2.1
grpcio>=1.50,<1.51
grpcio-tools>=1.50,<1.51
minio>=7.1,<7.2
psycopg2-binary>=2.9,<2.10
pydantic>=1.10,<1.11
# say_protos
git+https://github.com/SayIfOrg/say_protos.git@cd7f74268a6#subdirectory=packages/python
# wagtail-grapple(engAmirEng modification)
git+https://github.com/engAmirEng/wagtail-grapple.git@429bd6fc118138b
whitenoise>=6.2,<7.0
