{% comment %}
List of overwrites:
    - Just needed to add current project selector to the header.
{% endcomment %}

{% load i18n wagtailadmin_tags %}
{% comment "text/markdown" %}

    Variables accepted by this template:

    - `classname` - if present, adds classname to the header class list. This will be the class/classes added to the header class list
    - `title` - Displayed as `h1`
    - `subtitle` - Within the `h1` tag but smaller
    - `description` - if present, displayed as a small text below the `h1` tag title
    - `search_url` - if present, display a search box. This is a URL route name (taking no parameters) to be used as the action for that search box
    - `query_parameters` - a query string (without the '?') to be placed after the search URL
    - `icon` - name of an icon to place against the title
    - `avatar` - if present, display an 'avatar' in place of icon. This is the URL to be used as the img src for avatar
    - `merged` - if true, add the classname 'merged'
    - `action_url` - if present, display an 'action' button. This is the URL to be used as the link URL for the button
    - `action_text` - text for the 'action' button
    - `action_icon` - icon for the 'action' button, default is 'plus'
    - `base_actions` - base actions to appear before the main action
    - `extra_actions` - extra action buttons for the header. This is the HTML to be used for the extra buttons
    - `breadcrumb` - Custom breadcrumbs content as a variable, displayed in place of breadcrumb block before the header content
    - `header` - Replaces the header `h1` completely with custom variable content
    - `search` - An alternative search content variable displayed if provided and search_url url is not present
    - `extra_rows` - Shown at the end of the header container

{% endcomment %}
<header class="{% classnames "w-header" classname merged|yesno:"w-header--merged," search_form|yesno:"w-header--hasform," %}">
    {% block breadcrumb %}{{ breadcrumb }}{% endblock %}
    <div class="row">
        <div class="left">
            <div class="col">
                {% if heading %}
                    {{ heading }}
                {% else %}
                    {% comment %}`flex flex-col md:flex-row` are added{% endcomment %}
                    <h1 class="w-header__title flex flex-col md:flex-row" id="header-title">
                        {% if icon %}
                            {% icon classname="w-header__glyph" name=icon %}
                        {% elif avatar %}
                            <div class="w-header__glyph avatar large"><img src="{{ avatar }}" alt="" /></div>
                        {% endif %}
                        {{ title }}{% if subtitle %} <span class="w-header__subtitle">{{ subtitle }}</span>{% endif %}
                    {% comment %}this part is added{% endcomment %}
                        <div class="md:mx-6 mx-0">
                            <button hx-get="{% url 'site_chooser_list' %}" hx-trigger="click once" hx-target="#project-list-container" hx-swap="innerHTML"
                                    data-dropdown-toggle="dropdown-states" class="z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                                @{{ request.user.site_user.site.sitename }}
                            </button>
                            <div id="dropdown-states" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 9.77778px, 0px);">
                                <ul id="project-list-container" class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="states-button">
                                </ul>
                            </div>
                        </div>
                    {% comment %}this part is added{% endcomment %}
                    </h1>
                {% endif %}
                {% if description %}<div class="w-header__description">{{ description }}</div>{% endif %}
            </div>
            {% if search_url %}
                <form class="col search-form" action="{% url search_url %}{% if query_parameters %}?{{ query_parameters }}{% endif %}" method="get" novalidate role="search">
                    {% for field in search_form %}
                        {% include "wagtailadmin/shared/field.html" with field=field classname="w-mb-0 -w-mt-2.5" sr_only_label=True icon="search" %}
                    {% endfor %}
                    {% comment %}Add an initial disabled & hidden submit button so that pressing 'enter' will not submit form. Reload not required as the content is dynamically loaded.{% endcomment %}
                    <div class="visuallyhidden"><input disabled type="submit" aria-hidden="true"/></div>
                    <div class="submit visuallyhidden"><input type="submit" value="Search" class="button" /></div>
                </form>
            {% elif search %}
                {{ search }}
            {% endif %}
        </div>
        <div class="{% block right_column_classname %}right{% endblock %}">
            {% block right_column %}
                {% if action_url %}
                    <div class="actionbutton">
                        {{ base_actions }}
                        {% with action_icon|default:'plus' as action_icon_name %}
                            <a href="{{ action_url }}" class="button bicolor button--icon">{% icon name=action_icon_name wrapped=1 %}{{ action_text }}</a>
                        {% endwith %}
                    </div>
                {% endif %}
            {% endblock %}
            {% if extra_actions %}
                {{ extra_actions }}
            {% endif %}
        </div>
    </div>
    {% block extra_rows %}{{ extra_rows }}{% endblock %}
</header>
